.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pokeball {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 5px solid red;
  border-bottom: 5px solid rgb(255, 255, 255);
  border-right: 5px solid rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  background: radial-gradient(rgb(255,255,255), rgb(129, 129, 129));
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.figure {
  width: 96px;
  height: 96px;
  transition: all 0.25s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  position: relative;
  top: -281.65px;
}

.figure2 {
  width: 96px;
  height: 96px;
  transition: all 0.25s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  position: relative;
  top: -120px;
}

.figure:hover, .figure2:hover{
  transform: scale(2);
  cursor: pointer;
} 

h1::first-letter {
  text-transform: uppercase;
}

button {
  border: 5px solid rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  left: 130px;
  top: -70px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #db3434;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
  position: relative;
  top: 170px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.border-text {
  -webkit-text-stroke: 1px black;
  color: white; 
}

.carta-box {
  width: 300px;
  height: 450px;
  position: relative;
  perspective: 750px;
}

.carta {
  transform-style: preserve-3d;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.cara {
  height: 400px;
  position: absolute;
  backface-visibility: hidden;
  
}

.cara.detras {
  transform: rotateY(180deg);
}

#checkbox {
  display: none;
} 

#checkbox:checked + .carta-box .carta {
  transform: rotateY(180deg);
}

.progress {
  padding-right: 10px;
  font-size: 15px;
}